html,body{
    height:100%;
    width:100%;

}
.left{
    display: flex;
}
.left img{
    width: 40px;
    height: 40px;
    height: 23px;
    display: flex;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.container{
    background-color: #cd5858;
   max-width: 80vw;
   display: flex;
    margin: 0 auto;
}
nav{
    display: flex;
    gap: 20px;
}